.bases {
  width: 80px;
  height: 65px;
  position: relative;
}

.first,
.second,
.third {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  position: absolute;
  transform: rotate(45deg);
}

.firstActive,
.secondActive,
.thirdActive {
  background: yellow;
}

.first {
  top: 30px;
  left: 50px;
}
.second {
  top: 10px;
  left: 30px;
}
.third {
  top: 30px;
  left: 10px;
}
